In [2]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.22-py2.py3-none-any.whl (63 kB)
     -------------------------------------- 63.2/63.2 kB 188.4 kB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 1.3 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-cp310-cp310-win_amd64.whl (35 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.26 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hp\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Installing collected packages: multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 yfinance-0.2.22
Note: you may need to restart the kernel to use updated packages.

In [13]:
import yfinance as yf
import pandas as pd

# Fetch stock data for Apple (AAPL)
stock_data = yf.download('AAPL', start='2010-01-01', end='2023-06-01')

[*********************100%***********************]  1 of 1 completed

In [14]:
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496295,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507527,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404014,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392176,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800
...,...,...,...,...,...,...
2023-05-24,171.089996,172.419998,170.520004,171.839996,171.839996,45143500
2023-05-25,172.410004,173.899994,171.690002,172.990005,172.990005,56058300
2023-05-26,173.320007,175.770004,173.110001,175.429993,175.429993,54835000
2023-05-30,176.960007,178.990005,176.570007,177.300003,177.300003,55964400
2023-05-31,177.330002,179.350006,176.759995,177.250000,177.250000,99625300

In [16]:
# Reset index to convert the 'Date' column into a regular column
stock_data = stock_data.reset_index()
stock_data

,index,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496295,493729600
1,1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507527,601904800
2,2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404014,552160000
3,3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392176,477131200
4,4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434674,447610800
...,...,...,...,...,...,...,...,...
3370,3370,2023-05-24,171.089996,172.419998,170.520004,171.839996,171.839996,45143500
3371,3371,2023-05-25,172.410004,173.899994,171.690002,172.990005,172.990005,56058300
3372,3372,2023-05-26,173.320007,175.770004,173.110001,175.429993,175.429993,54835000
3373,3373,2023-05-30,176.960007,178.990005,176.570007,177.300003,177.300003,55964400
3374,3374,2023-05-31,177.330002,179.350006,176.759995,177.250000,177.250000,99625300

In [19]:
# Select relevant columns (e.g., 'Date', 'Open', 'High', 'Low', 'Close', 'Volume')
selected_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
stock_data = stock_data[selected_columns]
stock_data.head(5)

        Date      Open      High       Low     Close     Volume
0 2010-01-04  7.622500  7.660714  7.585000  7.643214  493729600
1 2010-01-05  7.664286  7.699643  7.616071  7.656429  601904800
2 2010-01-06  7.656429  7.686786  7.526786  7.534643  552160000
3 2010-01-07  7.562500  7.571429  7.466071  7.520714  477131200
4 2010-01-08  7.510714  7.571429  7.466429  7.570714  447610800

In [20]:
stock_data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [21]:

# Normalize the numerical columns (e.g., 'Open', 'High', 'Low', 'Close', 'Volume')
numerical_columns = ['Open', 'High', 'Low', 'Close', 'Volume']
stock_data[numerical_columns] = (stock_data[numerical_columns] - stock_data[numerical_columns].mean()) / stock_data[numerical_columns].std()

In [23]:
# Convert the 'Date' column to a datetime format
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
stock_data

           Date      Open      High       Low     Close    Volume
0    2010-01-04 -0.937344 -0.936913 -0.937327 -0.936646  1.097822
1    2010-01-05 -0.936508 -0.936144 -0.936699 -0.936382  1.585833
2    2010-01-06 -0.936665 -0.936398 -0.938506 -0.938816  1.361419
3    2010-01-07 -0.938544 -0.938677 -0.939734 -0.939094  1.022942
4    2010-01-08 -0.939580 -0.938677 -0.939727 -0.938095  0.889766
...         ...       ...       ...       ...       ...       ...
3370 2023-05-24  2.332578  2.317733  2.360328  2.344181 -0.925886
3371 2023-05-25  2.358983  2.346968  2.384007  2.367160 -0.876646
3372 2023-05-26  2.377186  2.383909  2.412747  2.415913 -0.882165
3373 2023-05-30  2.449999  2.447516  2.482774  2.453278 -0.877070
3374 2023-05-31  2.457400  2.454628  2.486619  2.452279 -0.680102

[3375 rows x 6 columns]

In [24]:
# Set the 'Date' column as the index
stock_data = stock_data.set_index('Date')

In [25]:
stock_data

                Open      High       Low     Close    Volume
Date
2010-01-04 -0.937344 -0.936913 -0.937327 -0.936646  1.097822
2010-01-05 -0.936508 -0.936144 -0.936699 -0.936382  1.585833
2010-01-06 -0.936665 -0.936398 -0.938506 -0.938816  1.361419
2010-01-07 -0.938544 -0.938677 -0.939734 -0.939094  1.022942
2010-01-08 -0.939580 -0.938677 -0.939727 -0.938095  0.889766
...              ...       ...       ...       ...       ...
2023-05-24  2.332578  2.317733  2.360328  2.344181 -0.925886
2023-05-25  2.358983  2.346968  2.384007  2.367160 -0.876646
2023-05-26  2.377186  2.383909  2.412747  2.415913 -0.882165
2023-05-30  2.449999  2.447516  2.482774  2.453278 -0.877070
2023-05-31  2.457400  2.454628  2.486619  2.452279 -0.680102

[3375 rows x 5 columns]

In [26]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X = stock_data.drop('Close', axis=1)  # Features (all columns except 'Close')
y = stock_data['Close']  # Target variable ('Close' column)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.ensemble import RandomForestRegressor

# Create a Random Forest regression model
regressor = RandomForestRegressor()

# Train the model
regressor.fit(X_train, y_train)

RandomForestRegressor()

In [12]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Make predictions on the testing set
y_pred = regressor.predict(X_test)

# Compute evaluation metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r2}")

Mean Squared Error: 0.00018535489498048487
Root Mean Squared Error: 0.013614510456879633
R-squared: 0.9998176250188664